{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registrar Venda{% endblock %}
{% block heading %}Registrar Nova Venda{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 720px;">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Registrar Venda</button>
            </div>
        </form>
    </div>
</div>

<!-- Flatpickr CSS e JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>

<script>
  flatpickr("#datepicker", {
    dateFormat: "d/m/Y",  // formato ISO para compatibilidade com o Django
    locale: "pt"          // português
  });
</script>
{% endblock %}
