{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registro de Arquitetos{% endblock %}
{% block heading %}Registrar Novo Arquiteto{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 720px;">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Registrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
